[submodule "backend"]
    path = backend
    url = git@github.com:sentimentalhoon/campstation-backend.git
[submodule "frontend"]
    path = frontend
    url = git@github.com:sentimentalhoon/campstation-frontend.git