@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-named-black text-dark-text antialiased;
  /* Prevent horizontal scroll on mobile */
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
